html, body {
    font-family: Arial, sans-serif;
    font-style: normal;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-style: normal;
    font-size     : 18px;
    font-weight: 200;
    color:white!important;
    background-color:#808080!important;
}

.md-typeset h1 {
    color         : white;
    font-size     : 36px;
    text-transform: none;
}

.md-typeset h2 {
    color         : white;
    font-size     : 28px;
    font-weight    : bold;
    text-transform: none;
}

.md-typeset h3 {
    color         : #ddd;
    font-size     : 22px;
    text-transform: none;
}

.md-typeset h4 {
    color         : #ddd;
    font-size     : 20px;
    text-transform: none;
}

.md-typeset h5 {
    color         : #ddd;
    font-size     : 18px;
    text-transform: none;
}

.md-typeset h6 {
    color         : #ddd;
    font-size     : 16px;
    text-transform: none;
}

.md-typeset p,
.md-typeset ul,
.md-typeset ol,
.md-typeset table {
    color    : #ddd;
    font-size: 16px;
}

.md-nav__link[data-md-state="blur"] {
    color: #78be20;
}

.md-typeset a:link,
.md-typeset a:visited {
    color: #78be20;
}

.md-nav__item, 
.md-nav__title,
.md-nav__link li {
    color    : #ddd;
}

.md-header-nav__topic a {
    font-size:14px;
    padding:10px;
    font-family:Roboto, sans-serif;
}

@media only screen and (max-width: 76.1875em) {
    .md-header-nav__topic a {
    font-size:11px;
    padding:2px;
    font-family:Roboto, sans-serif;
    }
}

