html, body {
    font-style: normal;
    font-weight: 100;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-style: normal;
    font-size     : 18px;
    font-weight: 200;
}

.md-typeset h1 {
    color         : #000000;
    font-size     : 36px;
    text-transform: none;
}

.md-typeset h2 {
    color         : #000000;
    font-size     : 28px;
    font-weight    : bold;
    text-transform: none;
}

.md-typeset h3 {
    color         : #000000;
    font-size     : 22px;
    text-transform: none;
}

.md-typeset h4 {
    color         : #000000;
    font-size     : 20px;
    text-transform: none;
}

.md-typeset h5 {
    color         : #000000;
    font-size     : 18px;
    text-transform: none;
}

.md-typeset h6 {
    color         : #000000;
    font-size     : 16px;
    text-transform: none;
}

.md-typeset p,
.md-typeset ul,
.md-typeset ol,
.md-typeset table {
    color    : #000000;
    font-size: 16px;
}

.md-typeset a:link,
.md-typeset a:visited {
    color: #0006ff;
}