/* Override header and footer */
.md-footer-nav,
.md-footer-meta, 
.md-header {
    background-color: #000000
}

/* Highlight current page in nav menu */
.md-nav__link--active {
    color      : #78be20;
    font-weight: bold;
}

/* Increase size of social media links in page footer */
.md-footer-social {
    font-size: 20px;
}

@media only screen and (max-width: 76.1875em){
    html .md-nav--primary .md-nav__title--site {
    	background-color: #000000;
    }
    .md-nav__source {
    	background-color: #008522;
    }
}

/* Changes menu bar link's colour on hover. */
.md-header-nav__topic a:hover {
color:#78be20;
}

/*Sizing for Loki logo in menu bar */
#Home img{
    width: 150px;
    min-height: 30px;
}

.md-main{
    background-color:#1a1a1a;
}

.md-nav__link:hover
{
    color:#78be20!important;
}