/* Override header and footer */
.md-footer-nav,
.md-footer-meta, 
.md-header {
    background-color: #1a1a1a
}

/* Highlight current page in nav menu */
.md-nav__link--active {
    color      : #008522;
    font-weight: bold;
}

/* Increase size of social media links in page footer */
.md-footer-social {
    font-size: 20px;
}

