html, body {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: proxima-nova-condensed, sans-serif;
    font-style: normal;
    font-size     : 18px;
    font-weight: 200;
}

.md-typeset h1 {
    color         : #1a1a1a;
    font-size     : 34px;
    text-transform: none;
}

.md-typeset h2 {
    color         : #1a1a1a;
    font-size     : 26px;
    text-transform: none;
}

.md-typeset h3 {
    color         : #1a1a1a;
    font-size     : 23px;
    text-transform: none;
}

.md-typeset h4 {
    color         : #1a1a1a;
    font-size     : 20px;
    text-transform: none;
    font-weight   : bold;
}

.md-typeset h5 {
    color         : #1a1a1a;
    font-size     : 18px;
    text-transform: none;
}

.md-typeset h6 {
    color         : #1a1a1a;
    font-size     : 16px;
    text-transform: none;
}

.md-typeset p,
.md-typeset ul,
.md-typeset ol,
.md-typeset table {
    color    : #1a1a1a;
    font-size: 16px;
}

.md-typeset a:link,
.md-typeset a:visited {
    color: #0006ff;
}